.wrapper {
  @apply flex my-2 w-[300px] justify-end;
}
.userInfo {
  @apply flex flex-col text-center;
}
.userImage {
  @apply rounded-full;
}

.dropdown {
  @apply mx-4;
  position: relative;
  display: inline-block;
}
.dropbtn {
  display: flex;
}
.dropdownContent {
  @apply rounded-md;
  right: -16px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent button {
  @apply rounded-md;
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}
