@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: rgba(25, 35, 62, 255);
}

html {
  background-color: white;
  height: 100%;
}

h1 {
  @apply text-3xl font-bold text-center;
}

body {
  background-color: white;
  height: 100%;
}

a {
  cursor: pointer;
}

header {
  background-color: var(--theme-color);
}
